* { //valores por defecto 
	margin: 0;
	padding: 0;
}

html, body {
   margin: 0;
   height: 100%;
   width: 100% /* needed for Firefox */
}

body {
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;	
}

header {
	width: 100%;
	height: 6%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
   font-size: 100%;
   font-weight: bold;
   color: white;
   
   /*centrado de elemento (flexbox)*/
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
   
   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;
   
   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   
   background: #ff0000;
   background-image: -webkit-linear-gradient(top, #ff0000, #B40404);
   background-image: -moz-linear-gradient(top, #ff0000, #B40404);
   background-image: -ms-linear-gradient(top, #ff0000, #B40404);
   background-image: -o-linear-gradient(top, #ff0000, #B40404);
   background-image: linear-gradient(to bottom, #ff0000, #B40404);
}

#contenedor {
	margin: 0;
   height: 90%;
   width: 100%; 
   /*centrado de elemento (flexbox)*/
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
   
   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;
   
   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

#principal {
	width: 30%;
	height: 75%;
	min-width: 250px;
	border: 1px solid gray;

	/*bordes redondeados*/
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
}

form {
	height: 100%;
}

.camposFormulario {
	margin: 5%;
	height: 10%;

   /*centrado de elemento (flexbox)*/
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
  
   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;
   
   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

input[type="text"] {
	display: block;
	font-family: sans-serif;
   font-size: 100%;
   width: 100%;
   border: solid 1px #969696;
   transition: box-shadow 0.3s, border 0.3s;
   height: 95%;
   min-width: 200px;
}

input[type="text"]:focus,
input[type="text"].focus {
   border: solid 1px #707070;
   box-shadow: 0 0 5px 1px #969696;
}

#importe {
	width: 50%;
	float: left;
	min-width: 100px;
}

#divisa {
	margin-left: 5%;
	width: 45%;
	height: 100%;
	font-family: sans-serif;
   font-size: 100%;
   min-width: 95px;
}

input[type="checkbox"] {
   width: 40%;
   border: solid 1px #969696;
	min-width: 50px;
   height: 95%;

}

#cuotas, #descuento {
	margin-left: 5%;
	width: 30%;
	float: left;
	min-width: 50px;
}

#comienzoDeCuotas, #tipoDeDescuento {
	margin-left: 5%;
	width: 45%;
	height: 100%;
	font-family: sans-serif;
   font-size: 100%;
   min-width: 100px;
}

#contenedorDescripcion {
	height: 20%;
}

textarea {
	resize: none;
	display: block;
   font-family: sans-serif;
   font-size: 100%;
   width: 100%;
   border: solid 1px #969696;
   transition: box-shadow 0.3s, border 0.3s;
   height: 98%;
   min-width: 200px;
}

textarea:focus,
textarea.focus {
   border: solid 1px #707070;
   box-shadow: 0 0 5px 1px #969696;
}

button {
	width: 30%;
	height: 95%;
	font-size: 100%;
	min-width: 90px;
	border: 1px solid gray;
	background: #3498db;
   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
   background-image: -o-linear-gradient(top, #3498db, #2980b9);
   background-image: linear-gradient(to bottom, #3498db, #2980b9);

   color: #ffffff;
   text-decoration: none;
}

button:hover {
   background: #3cb0fd;
   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
   text-decoration: none;
}

#cancelar {
	margin-left: 5%;
}